<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link type="text/css" href="/css/messageCss.css" rel="stylesheet" >
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" th:inline="javascript">
	$(document).ready(function(){

		const allMessage = /*[[${message}]]*/ '';
		const currentUserId = /*[[${session.userId}]]*/ ''

		const chatList = document.querySelector('.chat-list');
		Object.entries(allMessage).forEach((ob)=>{
			const chatLi = document.createElement('li');
			if(ob[1].senderId==currentUserId){
				chatLi.className = 'out';
			}else{
				chatLi.className = 'in';
			}
		    chatList.appendChild(chatLi);

			const imgDiv = document.createElement('div');
		    imgDiv.className = 'chat-img';
		    chatLi.appendChild(imgDiv);

		    const userImg = document.createElement('img');
		    userImg.alt='username';
		    userImg.src='https://bootdey.com/img/Content/avatar/avatar1.png';
		    imgDiv.appendChild(userImg);

		    const chatBodyDiv = document.createElement('div');
		    chatBodyDiv.className='chat-body';
		    chatLi.appendChild(chatBodyDiv);

		    const chatMessageDiv = document.createElement('div');
		    chatMessageDiv.className = 'chat-message';
		    chatBodyDiv.appendChild(chatMessageDiv);

		    const header = document.createElement('h5');
		    header.textContent = ob[1].senderName;
		    chatMessageDiv.appendChild(header);

		    const chatMessage = document.createElement('p');
		    chatMessage.textContent = ob[1].content;
		    chatMessageDiv.appendChild(chatMessage);

		})


	})

	function checkKey(groupId, event){
		if(event.key=='Enter'){
			sendMessage(groupId);
		}
	}

	function sendMessage(groupId){
		var message = document.getElementsByClassName('message')[0].value
		$.ajax({
			method:"POST",
			url:"/message/sendMessage",
			data:{
				message,
				groupId
			},
			success:function(data){
				document.querySelector('.message').value = '';
				appendMessage(message);
			},
			error:function(){
				alert('Oops!');
			}
		})
	}

	function appendMessage(message){

		const currentUserName = /*[[${session.username}]]*/ '';

		const chatList = document.querySelector('.chat-list');
		const chatLi = document.createElement('li');
		chatLi.className = 'out';
		chatList.appendChild(chatLi);

		const imgDiv = document.createElement('div');
		imgDiv.className = 'chat-img';
		chatLi.appendChild(imgDiv);

		const userImg = document.createElement('img');
		userImg.alt='username';
		userImg.src='https://bootdey.com/img/Content/avatar/avatar1.png';
		imgDiv.appendChild(userImg);

		const chatBodyDiv = document.createElement('div');
		chatBodyDiv.className='chat-body';
		chatLi.appendChild(chatBodyDiv);

		const chatMessageDiv = document.createElement('div');
		chatMessageDiv.className = 'chat-message';
		chatBodyDiv.appendChild(chatMessageDiv);

		const header = document.createElement('h5');
		header.textContent = currentUserName;
		chatMessageDiv.appendChild(header);

		const chatMessage = document.createElement('p');
		chatMessage.textContent = message;
		chatMessageDiv.appendChild(chatMessage);


	}
</script>
<div class="container content">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
        	<div class="card">
        		<div class="card-header">
					Chat
				<div class="dropdown">
					<div class="dropdown-button">Options</div>
					<div class="dropdown-content">
						<div th:with="userLoggedIn=${session.username!=null?true:false}">
							<a href="/menu/logout"  class="no-underline white-font">
								<span th:if="${userLoggedIn}">Logout</span>
								<span th:unless="${userLoggedIn}">Login</span>
							</a>
						</div>
					</div>
				</div>
				</div>
        		<div class="card-body">
        			<ul class="chat-list">
        				
        			</ul>
        		</div>
        	</div>
        </div>
		<div class="messageDiv" th:if="${session.userId!=null}">
			<input id="messageContent" type="textbox" class="message" th:attr="data-group-id=${groupId}" onkeypress="checkKey(this.dataset.groupId, event)">
			<input type="button" class="btnSend" value=">" th:attr="data-group-id=${groupId}" onclick="sendMessage(this.dataset.groupId)">
			<div class="developerMsg">
				<marquee>Developed by Gmi Shelby</marquee>
			</div>
		</div>
    </div>
</div>