<html xmlns:th="http://www.thymeleaf.org">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="/css/registrationCss.css" rel="stylesheet" type="text/css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript">
	function registerUser(){
		var fName= $('#fName').val();
		var lName= $('#lName').val();
		var username= $('#username').val();
		var password=$('#password').val();
		var cPassword=$('#cPassword').val();

		if(fName=='' || lName=='' || username=='' || password=='' || cPassword==''){
			alert('Fields cannot be empty');
			return;
		}

		if(password!=cPassword){
			alert('Passwords do not match');
			return;
		}

		$.ajax({
			method: 'GET',
			url:'/checkUser',
			data:{
				username
			},
			success:function(userExists){
				if(userExists=="true"){
					alert("Username already exists");
					return;
				}
				$('#userForm').submit();
			},
			error:function(){
				alert("Smth went wrong")
			}
		})


	}
</script>

<div class="container">
    <h1 class="well">Registration Form</h1>
	<div class="col-lg-12 well">
	<div class="row">
				<form id="userForm" method="POST" th:action="@{/registerUser}" th:object="${user}">
					<div class="col-sm-12">
						<div class="row">
							<div class="col-sm-6 form-group">
								<label>First Name</label>
								<input id="fName" th:field="*{firstName}" type="text" placeholder="Enter First Name Here" class="form-control">
							</div>
							<div class="col-sm-6 form-group">
								<label>Last Name</label>
								<input id="lName" th:field="*{lastName}" type="text" placeholder="Enter Last Name Here" class="form-control">
							</div>
						</div>					
                        <div class="form-group">
						    <label>Username</label>
						    <input id="username" th:field="*{username}" type="text" placeholder="Enter Username" class="form-control">
					    </div>
						<div class="row">
							<div class="col-sm-4 form-group">
								<label>Password</label>
								<input id="password" th:field="*{password}" type="password" placeholder="Enter Password" class="form-control">
							</div>	
							<div class="col-sm-4 form-group">
								<label>Confirm Password</label>
								<input id="cPassword" type="password" placeholder="Confirm Password" class="form-control">
							</div>		
						</div>
					    <input type="button" class="btn btn-lg btn-info" onclick="registerUser()" value="Submit">				
					</div>
				</form> 
				</div>
	</div>
	</div>
</html>